body, html
{
  height: 100%;
  margin: 60px auto;
  width: 70%;
}

.bg {
  background-image: url(content/background.jpg) lightblue;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav ul, footer ul
{
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}

nav ul li, footer ul li
{
  display: inline;
  margin-right: 20px;
}

a
{
   text-decoration-style: none;
   color: #999;
}

a:hover
{
  text-decoration: underline;
}

h1
{
  font-size: 3em;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

p
{
  font-size: 2em;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  line-height: 1.5em;
  color: #333;
}
