<!DOCTYPE html>
<html>

<head>
  <title>Susie's Cleaning Service</title>
  <link rel="stylesheet" type="text/css" href="/main.css">

</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/reservations">Reservations</a></li>
      <li><a href="/reviews">Reviews</a></li>
    </ul>
  </nav>
  <hr>

  <div class= "container">
    {{ content }}
  </div>

  <footer>
    <ul>
      <li>Contact: (414) 378-0091</li>
      <li>Website Design by Joseph Fischer</li>
      <li>6:08 PM</li>
    </ul>
  </footer>
</body>

</html>
